.gallery {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;
  width: 1128px;
  margin: auto;
}
.gallery li img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.gallery li img:hover {
  transform: scale(1.044);
  z-index: 10;
}
.modal-img {
  width: 1112px;
  height: 640px;
}

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-navigation button {
  color: white;
}
.sl-wrapper .sl-counter {
  color: white;
}
.sl-wrapper .sl-close {
  color: white;
}
